.nav {
font-size:4em;
line-height:1;
font-weight:400;
font-style:italic;
background-color:#fff;
color:#000;
-webkit-transition:background-color .5s ease-in, color .5s ease-in;
-moz-transition:background-color .5s ease-in, color .5s ease-in;
-o-transition:background-color .5s ease-in, color .5s ease-in;
transition:background-color .2s ease-in, color .2s ease-in;
-moz-border-radius:2px;
-webkit-border-radius:2px;
border-radius:2px;
-o-border-radius:2px;
margin:0;
padding:.25em;
float:left;
}

.nav:hover {
background-color:#2d5795;
color:#fff;
}