html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,footer,header,hgroup,menu,nav,section,menu,time,mark,audio,video {
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
margin:0;
padding:0;
}

body {
font:x-small;
font-family:Georgia,Lucida Console,"Times New Roman",Times,serif;
font-size:62.5%;
color:#111;
line-height:1.3571;
background-color:#fff;
}

body,a {
color:#000;
}

article,aside,dialog,figure,footer,header,hgroup,nav,section {
display:block;
zoom:1;
}

nav ul {
list-style:none;
}

a {
border:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
color:#fff;
text-decoration:none;
background-color:#111;
margin:0;
padding:0;
}

a img,.noline,a.noline:link,a.noline:visited,a.noline:hover,a.thumb,a.icon,a.img:link,a.img:visited,a.img:hover {
background:none;
border-width:0;
}

a.more-link {
white-space:nowrap;
}

a:hover,aside a {
color:#111;
background-color:#fff;
}

abbr[title],dfn[title] {
border-bottom:1px dotted #000;
cursor:help;
}

body * {
line-height:1.22em;
}

html {
overflow-y:scroll;
}

.ie7 img {
-ms-interpolation-mode:bicubic;
}

p {
margin:0 0 1.5em;
}

p+p {
margin-top:-.75em;
}

ol.vcalender {
list-style:none;
margin-left:0;
}

ul,ol {
margin:0 0 15px 15px;
}

li {
margin:3px 0;
}

ul {
list-style-type: disc;
}


abbr {
border:none;
border-bottom:1px dotted #555;
}

address {
font-style:italic;
margin:0 0 15px;
}

h1 {
font-size:4em;
line-height:1;
font-weight:400;
background-color:#fff;
color:#000;
font-style:italic;
float:left;
-webkit-transition:background-color .5s ease-in, color .5s ease-in;
-moz-transition:background-color .5s ease-in, color .5s ease-in;
-o-transition:background-color .5s ease-in, color .5s ease-in;
transition:background-color .5s ease-in, color .5s ease-in;
-moz-border-radius:2px;
-webkit-border-radius:2px;
border-radius:2px;
-o-border-radius:2px;
margin:0;
padding:.25em;
padding-left:0;
}

h1:hover {
background-color:#2d5795;
color:#fff;
}

h2 {
font-size:1.5em;
font-style:italic;
margin:.5em 0;
}

.content a {
color:#555;
background-color:#fff;
-webkit-transition:color .25s ease-in;
-moz-transition:color .25s ease-in;
-o-transition:color .25s ease-in;
transition:color .25s ease-in;
border-bottom:1px dashed #2d5795;
padding:0 2px;
}

.content a:empty {
padding:0;
}

.content a:hover {
color:#fff;
text-decoration:none;
background-color:#111;
border-bottom:0;
}

#nav-wrapper {
background-color:#111;
color:#eee;
font-size:1.2em;
min-width:800px;
width:100%;
padding:10px 0;
}

#nav-wrapper #nav-wrapper-inner {
width:800px;
margin:0 auto;
padding:0 80px;
}

#nav-wrapper #nav-wrapper-inner a {
background-color:#555;
color:#fff;
-moz-border-radius:3px;
-webkit-border-radius:3px;
-o-border-radius:3px;
border-radius:3px;
text-shadow:1px 1px 0 #333;
-webkit-transition:all .4s ease-in;
-moz-transition:all .4s ease-in;
-o-transition:all .4s ease-in;
transition:all .4s ease-in;
padding:3px 7px;
}

#nav-wrapper #nav-wrapper-inner a:hover {
background-color:#444;
color:#fff;
}

.chineseName{
	font-style:italic;
	text-align:bottom;
}

.adr,div.adr {
text-align:right;
}

.email i,.email b {
font-style:normal;
font-weight:400;
font-family:Georgia,serif;
}

.email b:after {
content:"le";
}

ul#options {
list-style:none;
width:800px;
margin:0;
}

ul#options li {
float:right;
margin:0 0 0 1em;
}

ul#options li#linkedin a {
background-color:#1e90ff;
}

ul#options li#linkedin a:hover {
background-color:#4169e1;
}

#main {
position:relative;
width:980px;
font-size:1.4em;
margin:30px auto;
}

#main div.summary {
margin:1em 0 0;
}

#main span.location {
position:absolute;
right:0;
top:.5em;
}

#wrapper {
padding:40px 80px;
}

#main h3,#main .objective-wrapper div.summary{
margin:0;
}

div.title-wrapper {
float:left;
width:600px;
}

section.objective-wrapper {
border-top:1px dotted #888;
border-bottom:1px dotted #888;
zoom:1;
margin:2em 0;
padding:1em 0;
}

ol.vcalender li{
position:relative;
}

section.education-wrapper {
page-break-before:always;
}

section.education-wrapper,section.skills-wrapper,footer {
margin-top:2em;
padding-top:2em;
border-top:1px solid #ccc;
}

section.projects-wrapper {
margin-top:2em;
padding-top:2em;
}

ul.skills {
list-style:none;
float:left;
width:30%;
margin:0 2% 0 0;
}

.vevent h3 {
font-size:1.5em;
margin:0 0 .5em;
}

.vevent:hover h3 {
color:#2d5795;
background:#fafafa;
-webkit-transition:color .5s ease-in;
-moz-transition:color .5s ease-in;
-o-transition:color .5s ease-in;
transition:color .5s ease-in;
}

div.header {
float:left;
width:210px;
position:relative;
}

div.header h2 {
margin-top:0;
}

div.content {
float:right;
width:600px;
}

.highlight {
background-color:#f9f6ae;
}

.clear {
clear:both;
visibility:hidden;
}

.clearfix:after {
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
}


@media print{
div.adr {
text-align:left;
}