{% extends "base.html" %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="/stylesheets/blog.css"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/shCoreDefault.css"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/shThemeDefault.css"/>
    <script type="text/javascript" src="/js/vendor/sh/shCore.js"></script>

    <script type="text/javascript" src="/js/vendor/sh/shBrushCpp.js"></script>
    <script type="text/javascript" src="/js/vendor/sh/shBrushCSharp.js"></script>
    <script type="text/javascript" src="/js/vendor/sh/shBrushJava.js"></script>
    <script type="text/javascript" src="/js/vendor/sh/shBrushJScript.js"></script>
    <script type="text/javascript" src="/js/vendor/sh/shBrushPython.js"></script>
    <script type="text/javascript" src="/js/vendor/sh/shBrushPlain.js"></script>
    <script type="text/javascript" src="/js/vendor/sh/shBrushAS3.js"></script>
    <script type="text/javascript" src="/js/vendor/sh/shBrushSql.js"></script>
    <script type="text/javascript" src="/js/vendor/sh/shBrushBash.js"></script>
    <script type="text/javascript" src="/js/vendor/sh/shBrushPerl.js"></script>
    <script type="text/javascript" src="/js/vendor/sh/shBrushCss.js"></script>
    <script type="text/javascript">SyntaxHighlighter.all();</script>
{% endblock %}

{% block content %}
<article id="main">
    <div id="wrapper">
        
        {% if superman %}
        <div>
        <a href="/blog/newpost"><button>New entry</button></a>
        </div>  
        {% endif %}
        <br>
        {% for p in posts %}
        {% if superman %}
        <div style="text-align:right">
            <a href="/blog/edit/{{p.key().id()}}"><button style="text-align:right">Edit</button></a>
        </div>
        {% endif %}
        {{ p.render() | safe }}
        <br><br>
        {% endfor %}

      <div class="age">
    	queried {{ secs_ago }} seconds ago
      </div>
    </div>
</article>
{% endblock %}