{% extends "base.html" %}

{% block content %}
<article id="main">
	<div id="wrapper">
		<div style="float:left">
			<a href="/blog">
			    <div class="nav">
			        This is what I do everyday
			    </div>
			</a>
			<a href="/resume">
			    <div class="nav">
			        Knowing more about me
			    </div>
			</a>
			<a href="/projects">
			    <div class="nav">
			        My humble projects
			    </div>
			</a>
		</div>
		<div style="float:right">
			<pre>
                                        _
                                      /   )
                                     @| ?\
       ._-_.    _____________________@| ?\\
      +|\G/|+  | TRACE_ELLIOT________@| ?\\\
      +|\./|+  || O  o o o  =|=  |  =@| ?\\\\
      +|\./|+  || O  o o o   |  =|=  | -- ====
       `|H|'   ||______________________||\ \\\
        |a|    |______ZHIJIA____________| \ \\\
        |H|    ||MM88MMxxxxxxxXHHHHMMMM||  \ \\\
        |a|    ||M88MMxxxxxxxXHHHMMMMMM||   \ \\\
        |H|    ||88MMxxxxxxxXHHHMMMMMMM||    \ \\\
        |a|    ||8MMxxxxxxxXHHHHMMMMMMM||     \ \\\
        |H|    ||MMxxxxxxxXHHHHMMMMMMMM||      \ \\\
        |H|    ||MxxxxxxxXHHHHMMMMMMMMM||       \ \\\
  _-_   |H|   _-_-xxxxxxxHHHHMMMMMMMMMM||        \ \\\
 /   \  |H|  /   \xxxxxXHHHHMMMMMMMMMMM||         \ \\\
 |    \_|a|_/    |?xxxXHHHHMMMMMMMMMMMM||          \ \\\
 \      |H|      /xxxXHHHHMMMMMMMMMMMMR||    =_     \ \\\   _
  \     |H|     /xxxXHHHHMMMMMMMMMMMRMM||   || |     \ \\\  ||\
   |    '"'    |xxxXHHHHMMMMMMMMMMMRMM8||   | | \   // \\\\ /  \
  /     ===     \xXHHHHMMMMMMMMMMMRMM8R||    | |  \-    \\\\   |
 /      ===   !  \HHHHMMMMMMMMMMMRMM8RM||     \ \       \\\\\\ \
|             | o |HMMMMMMMMMMMMMM988MM||        \\       \\\\  \
|      +---+ /  o |MMMMMMMMMMMMMM988MM<||          \\      \\\\   \
\       ___ /  o  /M/MMMMMRMMMRMM88MM<<||           \ \     \\\\     \
 \     |HHH|    l/MMMMMMMRMMMRMM88MM<<<||           | |     \\\\\\     \
  `-_   \_/   _-MMRMMMMMRMMMRMM88MM<<<<||           | |       \\\\   (O \
     """"""""' ~~~V~~""~~~~~~~~~~~~~~V~~~           \ \      <======o    |
                                                     \ \              (O |
                                                       \\          (O    /
                                                         \\_            /
                                                            --_______--
			</pre>
		</div>
	</div>
</article>
{% endblock %}
