{% extends "base.html" %}

{% block scripts %}
<script type="text/javascript">

$(function () {
    $("a.youtube").YouTubePopup({ autoplay: 1 });
});
</script>

{% endblock %}

{% block content %}

<br>
<div>
    <div>
        <a class="youtube" href="http://www.youtube.com/watch?v=7TkZ1hyIxVo&fs=0&rel=0&hd=1&autoplay=1">
            Ink Man . . . . .
        </a>
    <div>
    <iframe width="460" height="315" src="//www.youtube.com/embed/7TkZ1hyIxVo" frameborder="0" allowfullscreen></iframe>
</div>

<br>
<div>
    <div>
        <a class="youtube" href="http://www.youtube.com/watch?v=wC7qMrsDtLs">
            Spirit Stone . . . . .
        </a>
    <div>
    <iframe width="460" height="315" src="///www.youtube.com/embed/wC7qMrsDtLs" frameborder="0" allowfullscreen></iframe>
</div>

{% endblock %}